
*.aux
*.log
*.nav
*.out
*.snm
*.toc
0.Introduction/.DS_Store
1.Probabilistic_Model/.DS_Store
2.Conditioning_Independence/.DS_Store
3.RandomVariable-Part1/.DS_Store
4.RandomVariable-Part2/.DS_Store
5.RandomVariable-Part3/.DS_Store
6.Statistical_Inference/.DS_Store
8.RandomProcess-Part1/.DS_Store
9.RandomProcess-Part2/.DS_Store
.DS_Store
make_handout.sh~
make_slide.sh~
4.RandomVariable-Part2/main.synctex.gz
4.RandomVariable-Part2/main.fdb_latexmk
4.RandomVariable-Part2/main.fls
4.RandomVariable-Part2/main.pdf
5.RandomVariable-Part3/main.synctex.gz
5.RandomVariable-Part3/main.pdf
5.RandomVariable-Part3/main.fls
5.RandomVariable-Part3/main.fdb_latexmk
7.Limit_Theorems/main.synctex.gz
6.Statistical_Inference/main.fdb_latexmk
6.Statistical_Inference/main.fls
6.Statistical_Inference/main.pdf
6.Statistical_Inference/main.synctex.gz
7.Limit_Theorems/main.fdb_latexmk
7.Limit_Theorems/main.fls
7.Limit_Theorems/main.pdf
*.fdb_latexmk
*.fls
8.RandomProcess-Part1/main.synctex.gz
8.RandomProcess-Part1/main.pdf
8.RandomProcess-Part1/main.rel
0.Introduction/main.pdf
9.Statistical_Inference/main.synctex.gz
9.Statistical_Inference/main.pdf
8.RandomProcess-Part2/main.synctex.gz
8.RandomProcess-Part2/main.pdf
7.RandomProcess-Part1/main.synctex.gz
7.RandomProcess-Part1/main.rel
7.RandomProcess-Part1/main.pdf
6.Limit_Theorems/main.synctex.gz
6.Limit_Theorems/main.pdf
0.Introduction/main.synctex.gz
1.Probabilistic_Model/main.synctex.gz
2.Conditioning_Independence/main.synctex.gz
3.RandomVariable-Part1/main.synctex.gz
0.Introduction/main.tex.bak
2.Conditioning_Independence/main.pdf
3.RandomVariable-Part1/main.tex
3.RandomVariable-Part1/main.pdf
